header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 30px 10%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display:  inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088A9;
}
