main {
    width:90% /* or you can also set 900px*/
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #f4f4f4; */
    padding: 10px 20px;
    flex-wrap: nowrap; /* Prevent wrapping */
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left a {
    /* color: #333;  */
    text-decoration: none;
    white-space: nowrap; /* Prevent wrapping of text */
}

.nav-right ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-right ul li {
    margin-left: 20px;
}


hr {
    border: none;
    height: 1px;
    background-color: black;
    margin-top: 0;
}
