/* Basic body styling */
body {
    /* font-family: Arial, sans-serif;
     * line-height: 1.6; */
    padding: 20px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4; /* Light grey background */
    color: #333; /* Adjust text color if needed */
    padding: 10px 20px;
}

.nav-left a, .nav-right ul li a {
    color: #333; /* Adjust link color if needed */
    text-decoration: none;
}

.nav-right ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-right ul li {
    margin-left: 20px;
}

.nav-right ul li a:hover:not(.active) {
    background-color: #ddd; /* Hover background color */
    color: #333; /* Hover text color */
}

.nav-right ul li a.active {
    background-color: #04AA6D; /* Active link background color */
    color: white; /* Active link text color */
}


/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
