---
layout: default
---

<article class="post">

  <h1>{{ page.title }}</h1>
  
  <p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%Y-%m-%d" }}
    </time>
    · 作者：{{ page.author | default: site.author }}
  </p>

  <div class="post-content">
    {{ content }}
  </div>

  <br/>
  <br/>
  <br/>
  <br/>

  <footer class="post-footer">

    <p><a href="/blog">&larr; 返回博客列表</a></p>

    <p>
      本文采用 
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
        CC BY-SA 4.0
      </a> 协议
    </p>
  </footer>

</article>
